<!doctype html>
<html lang="en">
<head>
    {% include "theme::partials/metadata" %}
</head>
<body id="welcome">

<div class="ui page grid">
    <div class="column center aligned">

        <h1 class="ui header logo center aligned">
            {{ image("theme::img/icon-dark.png").width(64)|raw }}
            <br>
            {{ trans(module().getName()) }} is ready.
        </h1>

        {{ html_link('admin/login', trans('anomaly.module.streams::button.login'), {'class': 'ui button green'}) }}
    </div>
</div>

</body>
</html>
