<p>
    {{ field_type.config.license|raw }}
</p>

<br>

<div class="ui checkbox">
    <input type="checkbox" value="yes" name="{{ field_type.getInputName() }}">
    <label>{{ trans(field_type.config.agree) }}</label>
</div>
