<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body id="installer">


<div class="ui installer dimmer">
    <div class="ui text loader">Generating .env file...</div>
</div>

<div class="ui page grid">
    <div class="column">

        <h1 class="ui header logo center aligned">
            {{ image("theme::img/icon-dark.png").width(64)|raw }}
        </h1>

        {% include "theme::partials/messages" %}
        {% block content %}{% endblock %}

    </div>
</div>

</body>
</html>